<template>
  <v-app>
     <v-navigation-drawer 
      app 
      temporary
     v-model="drawer">
          <div v-if="isGuest">
            <div class="ma-2">
              <v-btn block color="success" :to="'/login'">Login</v-btn>
              <v-btn block color="primary" class="mt-2" :to="'/register'">Register</v-btn>
            </div>
            <v-list>
               <v-divider></v-divider>
              <v-list-item
              :key="items[0].title"
              link
              :to="items[0].to"
              >
                <v-list-item-icon>
                  <v-icon>{{ items[0].icon }}</v-icon>
                </v-list-item-icon>

                <v-list-item-content>
                  <v-list-item-title>{{ items[0].title }}</v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </v-list>
          </div>
          <div v-else>
            <v-list>
              <v-list-item>
                <v-list-item-avatar>
                  <v-img :src="`https://ui-avatars.com/api/?background=${randColor}&color=fff&name=${user.username}`"></v-img>
                </v-list-item-avatar>
                <v-list-item-title class="text-h6">
                  {{ user.username }}
                </v-list-item-title> 
              </v-list-item>
            <v-divider></v-divider>
            <v-list-item
              v-for="item in items"
              :key="item.title"
              link
              :to="item.to"
            >
              <v-list-item-icon>
                <v-icon>{{ item.icon }}</v-icon>
              </v-list-item-icon>

              <v-list-item-content>
                <v-list-item-title>{{ item.title }}</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list>

          <template>
            <div class="pa-2">
              <v-btn block color="error" @click="logout">
                Logout
              </v-btn>
            </div>
        </template>
      </div>
    </v-navigation-drawer>
    <v-app-bar
      app
      dark
    >
      <div class="d-flex align-center">
        <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
        <v-toolbar-title>Books Review</v-toolbar-title>
      </div>
    </v-app-bar>

    <v-main>
      <v-container>
        <v-slide-y-transition>
          <router-view></router-view>
        </v-slide-y-transition>
      </v-container>
    </v-main>
    <alert/>
  </v-app>
</template>

<script type="module">
import { mapGetters, mapActions } from 'vuex'
import Alert from './components/Alert'

export default {
  components: { Alert },
  name: 'App',
  data: () => ({
    drawer: false,
    items: [
          { title: 'Home', icon: 'mdi-home', to: '/'},
          { title: 'Add Item', icon: 'mdi-plus-circle', to: '/add' },
        ],
  }),
  computed: {
    ...mapGetters({
      user: 'auth/user',
      isGuest: 'auth/isGuest'
    }),
    randColor() {
      return Math.floor(Math.random()*16777215).toString(16)
    }
  },
  methods: {
    ...mapActions({
      logoutAction: 'auth/logout',
      setAlert: 'snackbar/set'
    }),
    logout() {
      this.setAlert({
        status: true,
        text: 'Berhasil Logout!',
        color: 'success'
      })
      this.logoutAction()
    }
  }
};
</script>
