<template>
    <v-snackbar
      :timeout="3000"
      v-model="alert"
      bottom
      :color="color"
      outlined
    >
      {{ text }}

      <template v-slot:action="{ attrs }">
          <v-btn color="red" text v-bind="attrs" @click="close">
              Close
          </v-btn>
      </template>
    </v-snackbar>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
    data:() => ({
        
    }),
    computed: {
        ...mapGetters ({
            status: 'snackbar/status',
            text: 'snackbar/text',
            color: 'snackbar/color'
        }),
        alert: {
            get() {
                return this.status
            },
            set() {
                this.setAlert({
                    status: false
                })
            }
        }
    },
    methods: {
        ...mapActions ({
            setAlert: 'snackbar/set'
        }),
        close() {
            this.setAlert({
                status: false
            })
        }
    }
}
</script>