<template>
    <div>
        
          <v-card 
            class="mx-auto"
          >
          <v-img
            class="shrink ma-3"
            contain
            height="280px"
            :src="book.cover_image ? domain + book.cover_image : domain + '/img/not_available_cover.jpg'"
          ></v-img>
            <v-card-text>
              <h3>{{ book.title }}</h3>
              <div class="text-subtitle mt-3">({{book.year}})</div>
              <v-row class="ma-0 mt-3">
                <v-rating
                  :value="rating"
                  background-color="gray"
                  color="yellow accent-4"
                  dense
                  half-increments
                  readonly
                  size="18"
                ></v-rating>
                <div class="ml-2">
                  {{ rating }}  ({{reviews.length}})
                </div>
              </v-row> 
            </v-card-text>
          </v-card>
          <v-btn
              class="mt-3 mx-2"
              rounded
              color="primary"
              dark
              :to="'/detail/' + book.id"
            >
              Detail
          </v-btn>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
    data:() => ({
      reviews: []
    }),
    computed: {
      ...mapGetters ({
        domain: 'auth/domain'
      }),
      rating() {
            var ratings = 0
            if (this.reviews.length !== 0) {
                var all = 0
                for (let rev of this.reviews) {
                    all += rev.point
                }
                var rata = all / this.reviews.length
                ratings = rata.toFixed(1)
            }
            return ratings
      }
    },
    methods: {
      getReviews() {
            const config = {
                method: 'get',
                url: this.domain + `/api/rating/${this.book.id}`
            }

            this.axios(config)
              .then(response => {  
                let { data } = response.data
                this.reviews = data
                console.log(this.reviews);
              })
              .catch(error => {
                console.log(error)
              })
        },
    },
    created() {
      this.getReviews()
    },
    props: ['book']
}
</script>