<template>
    <v-dialog
        v-model="dialog"
        persistent
        max-width="290"
        >
        <v-card>
            <v-card-title class="text-h5">
            Anda Belum Login
            </v-card-title>
            <v-card-text>Anda harus login untuk dapat mereview.</v-card-text>
            <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
                color="green darken-1"
                text
                @click="$emit('close')"
            >
                Cancel
            </v-btn>
            <v-btn
                color="green darken-1"
                text
                @click="$emit('login')"
            >
                Login
            </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
export default {
    methods: {
        toLogin() {
            this.dialog = false
            this.$router.push('/login')
        },
    },
    props: ['dialog']
}
</script>