<template>
    <div>
        <v-card class="pa-5" elevation="2" width="400">
            <v-card-title>Masukkan Kode OTP</v-card-title>
            <v-form
                ref="form"
                v-model="valid"
                lazy-validation
            >
                <v-text-field
                    class="mt-4"
                    label="Otp Code"
                    v-model="otp"
                    :rules="rules"
                    filled
                ></v-text-field>
                <v-btn :disabled="!valid" color="success" @click="verification">Submit</v-btn>
            </v-form>
        </v-card>
        <alert/>
    </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import Alert from './Alert'

export default {
  components: { Alert },
    data:() => ({
        otp: '',
        valid: true,
        snackbar: false,
        rules: [
            value => !!value || 'Required.',
        ]
    }),
    computed: {
        ...mapGetters({
            domain: 'auth/domain'
        }),
    },
    methods: {
        ...mapActions ({
            setAlert: 'snackbar/set'
        }),
        verification() {
            let formData = new FormData()
            formData.append('otp', this.otp)

            const config = {
                method: 'post',
                url: this.domain + '/api/auth/verification',
                data: formData
            }

            this.axios(config)
            .then(() => {
                this.setAlert ({
                    status: true,
                    text: 'Akun Berhasil terVerifikasi!',
                    color: 'success'
                })
                this.$router.push('/')
            })
            .catch(error => {
                console.log(error)
            })
        }
    }
}
</script>