<template>
    <v-dialog
      v-model="dialog"
      max-width="350"
    >
      <v-card class="pa-5">
        <div class="text-center mt-12">
                <v-rating
                    v-model="rating"
                    color="yellow darken-3"
                    background-color="grey darken-1"
                    hover
                    large
                ></v-rating>
                <v-textarea
                    class="mt-5"
                    v-model="reviewMsg"
                    label="Review"
                    auto-grow
                    filled
                    rows="2"
                    block
                    row-height="15"
                ></v-textarea>
            </div>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="green darken-1"
            text
            @click="$emit('cancel')"
          >
            Cancel
          </v-btn>
          <v-btn
            color="green darken-1"
            text
            @click="$emit('review', {rating, reviewMsg})"
          >
            Review
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
</template>

<script>
export default {
    data:() => ({
        rating: 0,
        reviewMsg: ''
    }),
    props: ['dialog']
}
</script>