<template>
    <v-card class="pa-5" elevation="2" width="400" :loading="loading">
      <template slot="progress">
        <v-progress-linear
            color="primary"
            height="10"
            indeterminate
        ></v-progress-linear>
      </template>
      <v-card-title>Register</v-card-title>
      <v-form
        ref="form"
        v-model="valid"
        lazy-validation
      >
        <v-text-field
          class="mt-4"
          label="Username"
          v-model="username"
          :rules="rules"
          required
          filled
        ></v-text-field>
        <v-text-field label="Email" :rules="emailRules" required v-model="email" filled></v-text-field>
        <v-select
          v-model="selectedRole"
          :items="roles"
          item-text="name"
          item-value="id"
          :rules="[v => !!v || 'Item is required']"
          label="Role"
          filled
          required
        ></v-select>
        <v-text-field 
          label="Password"
          v-model="pass"
          :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
          :type="show ? 'text' : 'password'" 
          :rules="rulesPass"
          required
          @click:append="show = !show"
          filled
        ></v-text-field>
        <v-text-field 
          label="Password Confirmation"
          :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
          :type="show ? 'text' : 'password'"
          :rules="[v => v == pass || 'Not Match']"
          @click:append="show = !show"
          required
          filled
        ></v-text-field>
        <v-btn :disabled="!valid" block color="primary" @click="register">Register</v-btn>
      </v-form>
    </v-card>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
    data:() => ({
      show: false,
      loading: false,
      username: '',
      email: '',
      pass: '',
      roles: [],
      selectedRole: '',
      valid: false,
      snackbar: false,
      rules: [
        value => !!value || 'Required.',
      ],
      rulesPass: [
        value => !!value || 'Required.',
        value => (value && value.length >= 3) || 'Min 6 characters',
      ],
      emailRules: [
        v => !!v || 'E-mail is required',
        v => /.+@.+\..+/.test(v) || 'E-mail must be valid',
      ]
    }),
    computed: {
      ...mapGetters({
            domain: 'auth/domain'
      }),
    },
    methods: {
      reset() {
        this.$refs.form.reset()
        this.$refs.form.resetValidation()
      },
      register() {

        this.loading = true
        console.log(this.selectedRole)

        let formData = new FormData()
        formData.append('username', this.username)
        formData.append('email', this.email)
        formData.append('password', this.pass)
        formData.append('password_confirmation', this.pass)
        formData.append('role_id', this.selectedRole)

        const config = {
            method: 'post',
            url: this.domain + '/api/auth/register',
            data: formData
        }

        this.axios(config)
          .then(response => {
            console.log(response.message)
            this.loading = false
            this.$emit('success', 'otp')
            this.reset()
          })
          .catch(error => {
            console.log(error)
          })
      },
      getRoles() {
        const config = {
            method: 'get',
            url: this.domain + '/api/role',
        }

        this.axios(config)
          .then(response => {
            let { data } = response.data
            this.roles = data
          })
          .catch(error => {
            console.log(error)
          })
      }
    },
    created() {
      this.getRoles()
    }
}
</script>