<template>
<v-list v-if="reviews.length !== 0">
    <v-list-item
        v-for="(review, i) of reviews"
        :key="i"
        class="mt-5"
    >
        <v-list-item-avatar>
            <v-img :src="`https://ui-avatars.com/api/?background=${randColor}&color=fff&name=${review.user.username}`"></v-img>
        </v-list-item-avatar>

        <v-list-item-content>
            <div class="d-flex">
                <strong class="mt-2">{{ review.user.username }} |
                </strong>
            <v-rating
                :value="review.point"
                color="yellow darken-3"
                background-color="grey darken-1"
                small
                readonly
            ></v-rating>
            </div>
            <v-list-item-title class="mt-3" v-text="review.review"></v-list-item-title>
        </v-list-item-content>
    </v-list-item>
</v-list>
</template>

<script>
export default {
    computed: {
        randColor() {
            return Math.floor(Math.random()*16777215).toString(16)
        }
    },
    props: ['reviews']
}
</script>