<template>
    <v-container class="d-flex justify-center">
        <v-card class="pa-5" elevation="2" width="400">
            <h1>Add Book</h1>
            <v-form
                ref="form"
                v-model="valid"
                lazy-validation
            >
                <v-text-field class="mt-4" label="Title" :rules="rules" required v-model="title" filled></v-text-field>
                <v-textarea
                    v-model="synopsis"
                    label="Synopsis"
                    auto-grow
                    :rules="rules"
                    filled
                    rows="4"
                    block
                    row-height="15"
                ></v-textarea>
                <v-select
                    v-model="selectedAuthor"
                    :items="author"
                    item-text="name"
                    item-value="id"
                    :rules="rules"
                    label="Author"
                    filled
                    required
                ></v-select>
                <v-select
                    v-model="selectedCategory"
                    :items="category"
                    item-text="name"
                    item-value="id"
                    :rules="rules"
                    label="Category"
                    filled
                    required
                ></v-select>
                <v-text-field class="mt-4" label="Year" :rules="rules" required v-model="year" filled></v-text-field>
                <v-file-input
                    v-model="image"
                    accept="image/png, image/jpeg, image/bmp"
                    placeholder="Pick an image"
                    prepend-icon="mdi-camera"
                    label="Image"
                    filled
                ></v-file-input>
                <v-btn :disabled="!valid" block color="primary" @click="addBook">Post</v-btn>
        </v-form>
        </v-card>
        <alert/>
    </v-container>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import Alert from '../components/Alert'

export default {
  components: { Alert },
    data:() => ({
        valid: true,
        title: '',
        synopsis: '',
        selectedAuthor: '',
        selectedCategory: '',
        year: '',
        image: null,
        author: [],
        category: [],
        rules: [value => !!value || 'Required.'],
    }),
    computed: {
        ...mapGetters({
            isGuest: 'auth/isGuest',
            domain: 'auth/domain',
            token: 'auth/token'
        }),
    },
    methods: {
        ...mapActions ({
            setAlert: 'snackbar/set'
        }),
        addImage(id) {
            var formData = new FormData()
            formData.append('cover_image', this.image)

            const config = {
                method: 'post',
                url: this.domain + `/api/book/${id}/upload-cover-image`,
                data: formData,
                headers: {
                    'Authorization': 'bearer ' + this.token
                }
            }

            this.axios(config)
            .then(response => {
                console.log(response.data.message)
                this.$router.push('/')
                this.setAlert({
                    status: true,
                    text: 'Berhasil Menambahkan Buku!',
                    color: 'success'
                })
            })
            .catch(error => {
                console.log(error)
            })
        },
        addBook() {
            var formData = new FormData()
            formData.append('title', this.title)
            formData.append('synopsis', this.synopsis)
            formData.append('author_id', this.selectedAuthor)
            formData.append('category_id', this.selectedCategory)
            formData.append('year', this.year)

            const config = {
                method: 'post',
                url: this.domain + '/api/book',
                data: formData,
                headers: {
                    'Authorization': 'bearer ' + this.token
                }
            }

            this.axios(config)
            .then(response => {
                console.log(response.data.message)
                if (this.image != null) {
                    this.addImage(response.data.data.id)
                } else {
                    this.setAlert({
                        status: true,
                        text: 'Berhasil Menambahkan Buku!',
                        color: 'success'
                    })
                    this.$router.push('/')
                }
            })
            .catch(error => {
                console.log(error)
            })
        },
        getAuthor() {
            const config = {
                method: 'get',
                url: this.domain + '/api/author',
            }

            this.axios(config)
            .then(response => {
                let { data } = response.data
                this.author = data
            })
            .catch(error => {
                console.log(error)
            })
        },
        getCategory() {
            const config = {
                method: 'get',
                url: this.domain + '/api/category',
            }

            this.axios(config)
            .then(response => {
                let { data } = response.data
                this.category = data
            })
            .catch(error => {
                console.log(error)
            })
        }
    },
    created() {
        this.getAuthor()
        this.getCategory()
    }
}
</script>