<template>
    <div>
        <v-row class="d-flex justify-space-between mt-10">
            <v-col cols="3">
                <v-img
                    contain
                    height="280px"
                    :src="book.cover_image ? domain + book.cover_image : domain + '/img/not_available_cover.jpg'"
                />
                <v-row class="mt-5 d-flex justify-center">
                    <v-rating
                        :value="allRating"
                        background-color="gray"
                        color="yellow accent-4"
                        dense
                        half-increments
                        hover
                        readonly
                        size="20"
                    ></v-rating>
                    <div class="grey--text text-h7 ml-2">
                        <small>{{ allRating }}  ({{reviews.length}})</small>
                    </div>
                </v-row> 
            </v-col>
            <v-col cols="9">
                <pre class="mb-5 text-h4"><strong>{{ book.title }}</strong>  ({{ book.year }})</pre>
                <p>{{ book.category.name }}</p>
                <p><strong>{{ book.author.name }}</strong></p>
                <p style="white-space: pre-wrap;">{{ book.synopsis }}</p>
            </v-col>
        </v-row>
        <v-row class="my-9">
            <div class="mt-6">
            <h2>Reviews
                <v-btn v-if="!isGuest" @click="show = true" color="success" style="position: absolute; right: 80px;">
                <v-icon left dark>mdi-pencil</v-icon>
                Write Review
                </v-btn>
                <v-btn v-else @click="dialog = true" color="success" style="position: absolute; right: 80px;">
                <v-icon left dark>mdi-pencil</v-icon>
                Write Review
                </v-btn>
            </h2>
            <v-divider class="my-3"></v-divider>
            <ReviewItem v-if="reviews.length !== 0" :reviews="reviews"/>
            <p v-else>Belum ada review</p>
            </div>
        </v-row>
        <RateDialog :dialog="show" @cancel="show = false" @review="setReview"/>
        <Dialog :dialog="dialog" @close="dialog = false" @login="toLogin"/>
    </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import ReviewItem from '../components/ReviewItem'
import RateDialog from '../components/RateDialog'
import Dialog from '../components/Dialog'

export default {
    components: {
        ReviewItem,
        RateDialog,
        Dialog
    },
    data:() => ({
        show: false,
        book: {},
        rating: 0,
        dialog: false,
        reviewMsg: '',
        reviews: []
    }),
    computed: {
        ...mapGetters({
            domain: 'auth/domain',
            token: 'auth/token',
            isGuest: 'auth/isGuest'
        }),
        allRating() {
            var ratings = 0
            if (this.reviews.length !== 0) {
                var all = 0
                for (let rev of this.reviews) {
                    all += rev.point
                }
                var rata = all / this.reviews.length
                ratings = rata.toFixed(1)
            }
            return ratings
        }
    },
    methods: {
        ...mapActions ({
            setAlert: 'snackbar/set'
        }),
        toLogin() {
            this.dialog = false
            this.$router.push('/login')
        },
        getBook() {
            const config = {
                method: 'get',
                url: this.domain + `/api/book/${this.id}`
            }

            this.axios(config)
              .then(response => {  
                this.book = response.data.data
              })
              .catch(error => {
                console.log(error)
              })
        },
        setReview({ rating, reviewMsg }) {
            this.show = false
            this.rating = rating
            this.reviewMsg = reviewMsg
            this.addReview()
        },
        getReviews() {
            const config = {
                method: 'get',
                url: this.domain + `/api/rating/${this.id}`
            }

            this.axios(config)
              .then(response => {  
                let { data } = response.data
                this.reviews = data.sort().reverse()
                console.log(this.reviews);
              })
              .catch(error => {
                console.log(error)
              })
        },
        addReview() {
            var formData = new FormData()
            formData.append('book_id', this.id)
            formData.append('review', this.reviewMsg)
            formData.append('point', this.rating)

            const config = {
                method: 'post',
                url: this.domain + '/api/rating',
                data: formData,
                headers: {
                    'Authorization': 'bearer ' + this.token
                }
            }

            this.axios(config)
              .then(response => {  
                console.log(response.data.message)
                this.setAlert({
                    status: true,
                    text: 'Review Telah dipost!',
                    color: 'success'
                })
                this.getReviews()
              })
              .catch(error => {
                console.log(error)
              })
        }
    },
    created() {
        this.getBook()
        this.getReviews()
    },
    props: ['id']
}
</script>