<template>
  <v-container class="pa-1 d-flex justify-space-around ma-0">
    <v-item-group
      multiple
    >
      <v-row>
        <v-col
          v-for="(book, i) in books"
          :key="i"
          cols="3"
        >
          <BookItem :book="book"/>
        </v-col>
      </v-row>
    </v-item-group>
  </v-container>
</template>

<script>
import BookItem from '../components/BookItem'
import { mapGetters } from 'vuex'

export default {
    components: {
      BookItem
    },
    data: () => ({
        books: [],
        rating: 4
    }),
    computed: {
      ...mapGetters({
            domain: 'auth/domain'
        }),
      getRating() {
        //Buat Ngetest
        var angka = [2, 7, 4, 2, 4, 3, 1, 5, 4]

        let total = 0
        for (let i in angka) {
          total += angka[i]
        }
        var hasil = total / angka.length
        return hasil.toFixed(1)
      }
    },
    methods: {
      getAllBooks() {
        const config = {
          method: 'get',
          url: this.domain + '/api/book',
        }

        this.axios(config)
          .then(response => {
            let { data } = response.data;
            this.books = data
            console.log(this.books)
          })
          .catch(error => {
            console.log(error)
          })
      }
    },
    created() {
      this.getAllBooks()
    }
}
</script>