<template>
<v-container class="d-flex justify-center">
    <v-card class="pa-5" elevation="2" width="400">
        <h1>Login</h1>
        <v-form
        ref="form"
        v-model="valid"
        lazy-validation
      >
        <v-text-field class="mt-4" label="Email" :rules="emailRules" required v-model="email" filled></v-text-field>
        <v-text-field 
          label="Password"
          v-model="pass"
          :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
          :type="show ? 'text' : 'password'" 
          :rules="[value => !!value || 'Required.']"
          required
          @click:append="show = !show"
          filled
        ></v-text-field>
        <v-btn :disabled="!valid" block color="primary" @click="login">Login</v-btn>
      </v-form>
    </v-card>
    <alert/>
</v-container>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import Alert from '../components/Alert'

export default {
  components: { Alert },
    data:() => ({
        email: '',
        pass: '',
        show: false,
        valid: true,
        emailRules: [
            v => !!v || 'E-mail is required',
            v => /.+@.+\..+/.test(v) || 'E-mail must be valid',
        ]
    }),
    computed: {
      ...mapGetters({
            domain: 'auth/domain'
        }),
    },
    methods: {
      ...mapActions ({
        loginAction: 'auth/login',
        setAlert: 'snackbar/set'
      }),
        login() {
            let formData = new FormData()
            formData.append('email', this.email)
            formData.append('password', this.pass)

            const config = {
                method: 'post',
                url: this.domain + '/api/auth/login',
                data: formData
            }

            this.axios(config)
            .then(response => {
              var data = response.data.data
              this.loginAction(data)
              this.setAlert({
                status: true,
                text: 'Berhasil Login!',
                color: 'success'
              })
              this.$router.push('/')
            })
            .catch(error => {
              this.setAlert({
                status: true,
                text: 'Gagal Login',
                color: 'red'
              })
              console.log(error)
            })
        }
    }
}
</script>