<template>
  <v-container class="d-flex justify-center">
    <component :is="currentComponent" @success="currentComponent = $event"></component>
  </v-container>
</template>

<script>
import RegisterForm from '../components/RegisterForm'
import OtpForm from '../components/OtpForm'

export default {
    components: {
      'register': RegisterForm,
      'otp': OtpForm
    },
    data:() => ({
      currentComponent: 'register'
    })
}
</script>